$primary-color: #000000;
$primary-color-dark: hsl(0, 0%, 100%);
$secondary-color: #747474;
$secondary-color-dark: hsl(228, 34%, 66%);
$background: hsl(0, 100%, 100%);
$background-dark: hsl(230, 17%, 14%);
$background-element: hsla(226, 19%, 86%, 0.5);
$background-element-dark: hsl(228, 28%, 20%);
$background-element-hover: hsl(226, 19%, 86%);
$background-element-dark-hover: hsl(229, 34%, 25%);

$lightmode-toggle-bg: hsl(230, 22%, 74%);
$lightmode-toggle-color: rgb(255, 255, 255);
$darkmode-toggle-bg: linear-gradient(
    90deg,
    rgb(55, 143, 230),
    rgb(62, 218, 130)
);
$darkmode-toogle-color: rgb(45, 45, 45);
$facebook: hsl(208, 92%, 53%);
$twitter: hsl(203, 89%, 53%);
$instagram: linear-gradient(90deg, rgb(253, 196, 104), rgb(223, 73, 150)) 1;
$youtube: hsl(348, 97%, 39%);

$positive: hsl(163, 72%, 41%);
$negative: hsl(356, 69%, 56%);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

/*

#### Dark Theme

- Very Dark Blue (BG): hsl(230, 17%, 14%)
- Very Dark Blue (Top BG Pattern): hsl(232, 19%, 15%)
- Dark Desaturated Blue (Card BG): hsl(228, 28%, 20%)
- Desaturated Blue (Text): hsl(228, 34%, 66%)
- White (Text): hsl(0, 0%, 100%)

#### Light Theme

- White (BG): hsl(0, 0%, 100%)
- Very Pale Blue (Top BG Pattern): hsl(225, 100%, 98%)
- Light Grayish Blue (Card BG): hsl(227, 47%, 96%)
- Dark Grayish Blue (Text): hsl(228, 12%, 44%)
- Very Dark Blue (Text): hsl(230, 17%, 14%)*/
