@use "config" as c;

body {
    width: 100vw;

    font-size: 100%;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    margin-top: 1.5rem;
    height: 100%;
    width: 21rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.title {
    width: 100%;
    height: rem;
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: column;

    h1 {
        margin: 0;
        font-size: 1rem;
    }

    p {
        padding: 0.2rem;
        font-size: 0.875rem;
        color: c.$secondary-color;
        font-weight: 700;
    }
}

.mode {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        font-size: 0.7rem;
        color: c.$secondary-color;
        font-weight: 700;
    }
}

.toggle {
    width: 3rem;
    height: 1.5rem;
    border-radius: 50px;
    background-color: c.$lightmode-toggle-bg;
    display: flex;
    align-items: center;
    padding: 0 0.2rem;
    justify-content: flex-end;

    &-switch {
        width: 1.1rem;
        height: 1.1rem;
        border-radius: 50px;
        background-color: c.$lightmode-toggle-color;
    }
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// socials summary

.socials {
    width: 100%;

    &-item {
        width: 100%;
        height: 12.5rem;
        background-color: c.$background-element;
        border-radius: 0.3rem;
        margin-bottom: 1.1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__type {
            font-size: 0.7rem;
            display: flex;
            align-items: center;
            gap: 5px;
        }

        &__number {
            font-size: 3.4rem;
            font-weight: 700;
        }

        &__followers {
            font-size: 0.7rem;
            text-transform: uppercase;
            color: c.$secondary-color;
            letter-spacing: 0.3rem;
        }

        &__change.positive {
            width: 6rem;
            text-align: center;
            position: relative;
            font-size: 0.8rem;
            font-weight: 700;
            color: c.$positive;

            &::after {
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                left: 0;
                bottom: 0;
                background-image: url("../src/images/icon-up.svg");
                background-repeat: no-repeat;
            }
        }
        &__change.negative {
            width: 5.5rem;
            text-align: center;
            position: relative;
            font-size: 0.8rem;
            font-weight: 700;
            color: c.$negative;

            &::after {
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                left: 0;
                bottom: -0.05rem;
                background-image: url("../src/images/icon-down.svg");
                background-repeat: no-repeat;
            }
        }

        &.facebook {
            border-top: 4px solid c.$facebook;
        }
        &.twitter {
            border-top: 4px solid c.$twitter;
        }
        &.instagram {
            border-image: c.$instagram;
            border-top: 4px solid;
        }
        &.youtube {
            border-top: 4px solid c.$youtube;
        }
    }
}

.overview {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    h2 {
        color: c.$secondary-color;
    }
}

.stats {
    width: 100%;
}

.stats-el {
    background-color: c.$background-element;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    padding: 1rem 2rem 1.5rem;
    width: 100%;
    height: 9rem;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: repeat(2, 1fr);

    &__title {
        color: c.$secondary-color;
        font-size: 1rem;
        font-weight: 700;
        align-self: center;
        justify-self: start;
    }

    &__icon {
        font-size: 1rem;
        font-weight: 700;
        align-self: center;
        justify-self: end;
    }

    &__numbers {
        font-size: 2.3rem;
        font-weight: 700;
        align-self: end;
        justify-self: start;
    }

    &__change {
        font-size: 1.3em;
        font-weight: 700;
        align-self: end;
        justify-self: end;
        padding-bottom: 0.4rem;

        &.positive {
            width: fit-content;
            text-align: end;
            position: relative;
            font-size: 0.8rem;
            font-weight: 700;
            color: c.$positive;

            &::after {
                content: "";
                position: absolute;
                width: 1rem;
                height: 1rem;
                left: -0.8rem;
                bottom: 0rem;
                background-image: url("../src/images/icon-up.svg");
                background-repeat: no-repeat;
            }
        }

        &.negative {
            width: fit-content;
            text-align: end;
            position: relative;
            font-size: 0.8rem;
            font-weight: 700;
            color: c.$negative;

            &::after {
                content: "";
                position: absolute;
                width: 1rem;
                height: 1rem;
                left: -0.8rem;
                bottom: 0;
                background-image: url("../src/images/icon-down.svg");
                background-repeat: no-repeat;
            }
        }
    }
}

@include c.media-lg {
    body {
        height: 100vh;
    }

    .wrapper {
        height: 80%;
        width: 60rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header {
        width: 100%;
        flex-direction: row;

        .title {
            border-bottom: none;

            h1 {
                margin: 0;
                font-size: 1.7rem;
            }
        }

        .mode {
            justify-content: flex-end;

            p {
                margin: 0 1rem;
            }
        }
    }

    main {
        width: 100%;
        max-height: 90%;
    }

    .socials {
        display: flex;
        justify-content: space-between;

        &-item {
            width: 13.75rem;
        }
    }
    .overview {
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 1rem 0;

        h2 {
            font-size: 1.3rem;
        }
    }

    .stats {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;

        &-el {
            width: 13.75rem;
            height: 9rem;
        }
    }
}

// footer

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

*/
